@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.custom-container {
  @apply w-[95%] sm:max-w-[80%] mx-auto p-4;
}

.custom-transition {
  @apply transition-all duration-300 ease-in-out;
}

.initial-spacing {
  @apply py-6 my-11;
}

/* svg {
  background-color: #cdfffe;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
} */
